nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid(ng-controller="navBar")
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target="#navbar", aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/')
                img(src='/images/logo.svg', style="max-width:100px")
        #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
                li(class=navHome)
                    a(href='/') Start Seite
                    if navHome == 'active'
                        span.sr-only (current)
                li(class=nav1)
                    a(href='/blumenimbund') Blumen im Bund
                    if nav1 == 'active'
                        span.sr-only (current)
                li(class=nav2)
                    a(href='/blumenstraeusse') Bunte Sträuße
                    if nav2 == 'active'
                        span.sr-only (current)
                li.dropdown(class=navDrop)
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false', ng-click="home=false;link=false;dropdown=true;") Anlässe
                        span.caret
                    ul.dropdown-menu(role='menu')
                        li
                            a(href="/muttertag") Mutter Tag
                        li
                            a(href="/hochzeit") Hochzeit
                        li
                            a(href="/geburt") Geburt
                        li
                            a(href="/") Trauer
                        li.divider
                        li.dropdown-header Andere
                        li
                            a(href="#") Liebe & Romantik
                        li
                            a(href="#") Glückwunsch
                        li
                            a(href="#") Dankeschöne
                        li
                            a(href="#") Gute Besserung
                li(class=navContact)
                    a(href='/') Adresse
                    if navContact == 'active'
                        span.sr-only (current)
            form.navbar-form.navbar-right.form-inline(role='search')
                //div.form-group
                    input.form-control(type='text', placeholder='Suche')
                    button.btn.btn-primary.btn-sm(type='submit') Submit
                div.form-group
                    input(type="checkbox", name="slidertoggle", id='slidertoggle', data-size="mini",
                    data-on-color="primary", data-label-text="Slider Fenster",
                    data-on-text = 'ein', data-off-text = 'aus',
                    ng-model="slidertoggle", bootstrap-switch, ng-change="change()")
